*{
    padding: 0;
    margin: 0;
}
h3{
    text-align: center;
    text-decoration: dotted;
    font-style: oblique;
    font-size: 36px;
    color: blue;
}
#para1{
    background-color: aqua;
    color: black;
}
.para1{
    background-color: blueviolet;
    color: black;

}
.para2{
    background-color: brown;
    color: black;
}
/* Element Selector */
p{
    color: red;
    background-color: white;
}
/* Clss Selector */
.hamim1{
    color: red;
    background-color: green;
}
/* Multi Class Selector */
.hamim2{
    text-decoration:wavy;
    text-align: center;
    font-weight: 100;
    font-size: medium;
    font-style: italic;
}
/* ID Selector */
#hamim3{
    color: tomato;
    background-color: aqua;
}
/* Group Selector */
#group, .group1, .group2{
    background-color: yellowgreen;
    color: brown;
}
/* Decendent Selectors */
#div1 p{
    color: blue;
    background-color: bisque;
}
/* Clild Selector */
#div2 > p{
    color: red;
}
#div3{
    margin: 30px;
}
#div3 h1{
    font-size: 40px;
   font-family: 'Roboto', sans-serif;
   font-style: italic;
   font-weight: bolder;
   text-align: center;
}
#div3 p{
    color: chartreuse;
    font-size: 24px;

}
#align{
    color: turquoise;
}
#align h1{
    text-align: Center;
}
#align .left{
    text-align: left;
}
#align .right{
    text-align: right;
}
#align .center{
    text-align: center;
}
#align .justify{
    text-align: justify;
}
